{% extends 'base.html' %}

{% block title %}Add Tag{% endblock %}

{% block content %}

<h1>Create a tag</h1>
<form method="POST">
  <label for="name">Name</label><br>
  <input type="text" name="name" id="name"><br><br>

  <div class="form-check form-group row">
    {% for post in posts %}
    <div>
      <input class="form-input"
             type="checkbox"
             value="{{ post.id }}"
             id="post_{{ post.id }}"
             name="posts">
      <label class="form-check-label" for="post_{{ post.id }}">
        {{ post.title }}
      </label>
    </div>
    {% endfor %}
  </div>

  <button>Add</button>
</form>
<form action="/tags">
  <button>Cancel</button>
</form>

{% endblock %}